// Variables

// Restated Bootstrap Variables

$white: rgb(252, 252, 252) !default;
$gray-100: #8a0000 !default;
$gray-200: #126eca !default;
$gray-300: #0061c2 !default;
$gray-400: #194c80 !default;
$gray-500: #0f2a44 !default;
$gray-600: #868e96 !default;
$gray-700: #574d49 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: rgb(0, 0, 0) !default;

$primary: #000000b6 !default;
$secondary: #0000009a !default;
